<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/popper-utils.min.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-icons.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/js/bootstrap-table.css" rel="stylesheet" type="text/css">
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/popover-helper.js"></script>
    <script src="/js/bs-custom-file-input.js"></script>

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="col">
                <a class="bi bi-house-fill" href="/" title="Inicio"></a>
            </div>
            <div class="col" align="right">
                <a type="button" class="bi bi-gear-fill" data-toggle="modal" data-target="#configuracionModal"
                   title="Configuración"></a>
            </div>

        </div>
    </nav>

</head>

<body>
<!--Muestreo del contenido de la aplicación -->
{{{ body }}}
<!--Fin de muestreo del contenido de la aplicación -->
</body>

<div class="modal fade" id="configuracionModal" tabindex="-1" aria-labelledby="configuracionModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="configuracionModalLabel">Configuración</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row p-2">
                        <h4>Mis datos personales</h4>

                    </div>
                    <div class="row">
                        <div class="dropdown-divider"></div>
                    </div>
                    <div class="row m-1">
                        <label class="form-label" id="etiquetaNombre" for="nombre">Nombre</label>
                        <input type="text" class="form-control" aria-describedby="etiquetaNombre" id="nombre">
                    </div>
                    <div class="row m-1">
                        <label class="form-label" id="etiquetaClave" for="clave">Clave</label>
                        <input type="text" class="form-control" aria-describedby="etiquetaClave" id="clave">
                    </div>
                    <div class="row m-1">
                        <label class="form-label" id="etiquetaCorreo" for="correo">Correo</label>
                        <input type="email" class="form-control" aria-describedby="etiquetaCorreo" id="correo">
                    </div>

                    <div class="row p-2">
                        <h4>Calculo de calificaciones</h4>
                    </div>
                    <div class="row">
                        <div class="dropdown-divider"></div>
                    </div>
                    <h5>Calificación individual</h5>
                    <div class="row m-1">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="0" id="calfi1" name="calfi">
                            <label class="form-check-label" for="calfi1">Todas deben estar aprobadas para
                                promediarse.</label>
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="1" id="calfi2" name="calfi">
                            <label class="form-check-label" for="calfi2">Promediar todas las actividades sin importar si
                                una o
                                mas no están aprobadas.</label>
                        </div>
                    </div>
                    <h5>Calificación por equipo</h5>
                    <div class="row m-1">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="0" id="calfe1" name="calfe">
                            <label class="form-check-label" for="calfe1">Todos obtienen la misma calificación.</label>
                        </div>
                    </div>
                   <div class="row m-1">
                       <div class="form-check">
                           <input class="form-check-input" type="radio" value="1" id="calfe2" name="calfe">
                           <label class="form-check-label" for="calfe2">Todos obtienen la misma calificación y además se
                               debe
                               promediar con un rubro individual para obtener la calificación final.</label>
                       </div>
                   </div>

                </div>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                <button type="submit" class="btn btn-success">Aplicar</button>
            </div>
        </div>

    </div>
</div>


</html>