<!doctype html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">


    </head>

    <body>
        <!--Muestreo del contenido de la aplicación -->
        {{{ body }}}
        <script src="js/bootstrap.js"></script>
        <!--Fin de muestreo del contenido de la aplicación -->
    </body>

</html>