<!doctype html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
        <script href="/js/bootstrap.js"></script>
    </head>

    <body>
        <!--Muestreo del contenido de la aplicación -->
        <main class="container g-2">
            {{{ body }}}
        </main>
        <!--Fin de muestreo del contenido de la aplicación -->
    </body>

</html>