<!doctype html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    </head>

    <!--Muestreo del contenido de la aplicación -->
    <main class="container ">
        {{{ body }}}
    </main>
    <!--Fin de muestreo del contenido de la aplicación -->
</html>