<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Error</h1>
        <p class="lead">A ocurrido un error que impide que la aplicación funcione de manera correcta.</p>
        <hr class="my-4">
        <p>Comunique el siguiente error detallando que es lo que estaba realizando para darle seguimiento:   </p>
        <p>{{error}}</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/filtro/1" role="button">Regresar al inicio</a>
        </p>
    </div>
</div>
