<html>
    <head>
        <meta charset="UTF-8">
        <title>Agregar alumnos</title>
        <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
        <script src="../js/bootstrap.js"></script>

    </head>

    <body>
        <div class="container bg-light">
            <div class="row-cols-1">
                <div class="col-auto">
                   HOLA
                </div>

            </div>
        </div>
        <script src="../js/canvas-datagrid.js"></script>
    </body>
</html>