<div class="container">
    {{#if error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>¡Error!</strong> {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}
    <div class="row-cols-1 m-2 p-2">
        <h2 class="display-6">Crear reporte parcial</h2>
    </div>
    <div class="row-cols-1 m-2 p-2">
        <p>El reporte parcial se generará con los datos guardados en la aplicación hasta este momento.</p>
    </div>
    <form action="/generar-reporte" method="POST" >
        <div class="row-cols-1 m-2 p-2">
            <div class="form-group">
                <label for="coordinadorNombre">Coordinador(a)</label>
                <input type="text" class="form-control" id="coordinadorNombre" name="coordinadorNombre" required>
            </div>
        </div>
        <div class="row p-2 m-2">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Coordinadora de carrera de " id="valequipo1"
                           name="pronombre" checked>
                    <label class="form-check-label" for="valequipo1">Coordinadora de carrera de</label>
                </div>
            </div>
            <div class="col">
                <div class="form-check ">
                    <input class="form-check-input" type="radio" value="Coordinador de carrera de " id="valequipo2"
                           name="pronombre">
                    <label class="form-check-label" for="valequipo2">Coordinador de carrera de</label>
                </div>
            </div>
        </div>
        <div class="row-cols-1 m-2 p-2">
            <label for="carrera">Carrera</label>
            <select class="form-select custom-select" id="carrera" name="carrera" required>
                <option value="Ingenieria en Aeronáutica">Ingenieria en Aeronáutica</option>
                <option value="Licenciatura en Biología">Licenciatura en Biología</option>
                <option value="Ingenieria en Bioquímica">Ingenieria en Bioquímica</option>
                <option value="Ingenieria en Electromecánica">Ingenieria en Electromecánica</option>
                <option value="Ingenieria en Electrónica">Ingenieria en Electrónica</option>
                <option value="Ingenieria en Gestión Empresarial">Ingenieria en Gestión Empresarial</option>
                <option value="Ingenieria en Industrial">Ingenieria Industrial</option>
                <option value="Ingenieria en Informática">Ingenieria en Informática</option>
                <option value="Ingenieria en Logística">Ingenieria en Logística</option>
                <option value="Ingenieria en Materiales">Ingenieria en Materiales</option>
                <option value="Ingenieria en Mecatrónica">Ingenieria en Mecatrónica</option>
                <option value="Ingenieria en Química">Ingenieria en Química</option>
                <option value="Ingenieria en Sistemas Automotrices">Ingenieria en Sistemas Automotrices</option>
                <option value="Ingenieria en Sistemas Computacionales">Ingenieria en Sistemas Computacionales</option>
            </select>
        </div>
        <div class="row-cols-1 m-2 p-2">
            <div class="form-group">
                <label for="mensaje">Mensaje</label>
                <textarea type="text" class="form-control" id="mensaje" name="mensaje" required>
                </textarea>
            </div>
        </div>
        <div class="row-cols-1 m-2 p-2">
            <p>Seleccione los grupos que se incluiran en el reporte</p>
        </div>
        <div class="row-cols-1">
            <div class="col-auto navbar-nav-scroll">
                <input type="hidden" id="valorTabla" name="valorTabla" value="{{listaFormateada}}">
                <table id="table" data-toggle="table" data-click-to-select="true">
                    <thead>
                    <tr>
                        <th data-field="estado" data-sorteable="false" data-checkbox="true"></th>
                        <th data-field="clave" data-sorteable="true">Clave</th>
                        <th data-field="asignatura" data-sorteable="true">Asignatura</th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="row d-flex flex-row-reverse p-2 m-2">
            <button type="submit" class="btn btn-primary" id="siguiente">
                Siguiente
            </button>
            <a class="btn btn-danger" href="/">Cancelar</a>
        </div>
    </form>
</div>

<script type="text/javascript" src="/js/llenar-tabla-helper.js"></script>
<script>
    //$(table.bootstrapTable('uncheckAll'));

    //let table = $('#table');
    table.on('check.bs.table', function (e, row) {
        document.getElementById('valorTabla').value = JSON.stringify(table.bootstrapTable('getSelections'));
        console.log(JSON.stringify(table.bootstrapTable('getSelections')));
    });

    table.on('check-all.bs.table', function (e, row) {
        document.getElementById('valorTabla').value = JSON.stringify(table.bootstrapTable('getSelections'));
        console.log(JSON.stringify(table.bootstrapTable('getSelections')));
    });

    table.on('uncheck.bs.table', function (e, row) {
        document.getElementById('valorTabla').value = JSON.stringify(table.bootstrapTable('getSelections'));
        console.log(JSON.stringify(table.bootstrapTable('getSelections')));
    });

    table.on('uncheck-all.bs.table', function (e, row) {
        document.getElementById('valorTabla').value = JSON.stringify(table.bootstrapTable('getSelections'));
        console.log(JSON.stringify(table.bootstrapTable('getSelections')));
    });
</script>