<title>Nuevo grupo- Seguimiento de Estudiantes</title>

<div class="container p-5 bg-light h-100">

    <div class="row">

        <div class="jumbotron ">

            <h1 class="display-4">Crear nuevo grupo</h1>
            <p class="lead">Para iniciar la creación de un grupo de click en botón:</p>
            <hr class="my-4">
            <p>
                Importar Excel: Permite crear el grupo basado en la información contenida en el archivo de Excel.
            <ul>
                <li>Forma mas rápida pero propenso a tener errores, se recomienda que verifique los datos importados.
                </li>
            </ul>

            </p>

            <p>
                Crear Manualmente: El asistente lo guiará en el proceso donde tendrá que ingresar los datos manualmente,
                para la creación exitosa del grupo.
            <ul>
                <li>Forma mas lenta pero en todo momento usted verificará que los datos ingresados sean correctos.</li>
            </ul>
            </p>
            <p class="lead">
                <button class="btn badge-primary btn-lg" id="guardar" name="guardar" data-toggle="modal"
                        data-target="#cargarExcel">Importar desde Archivo
                </button>
                <a class="btn btn-primary btn-lg" href="/grupo/wizard-crear-grupo-manual" role="button">Crear
                    Manualmente</a>
                <a class="btn btn-danger btn-lg align-right" href="/" role="button">Cancelar</a>
            </p>
        </div>
        <!-- Modal para cargar archivo-->
    </div>
</div>

<form action="/grupo/importar-archivo" method="POST" enctype="multipart/form-data" novalidate>
    <div class="modal fade" id="cargarExcel" tabindex="-1" aria-labelledby="cargarExcel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cargarExcelLabel">Importar lista</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="text-align:justify;">
                        Asegúrese de que el archivo a importar ha sido descargado directamente del sistema búho, este no debe contener
                        ninguna modificación previa y debe contar con la extensión o terminación .asp
                    </p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon">Selección</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="archivo" id="archivo" aria-describedby="inputGroupFileAddon" accept=".asp, .html">
                            <label class="custom-file-label" for="inputGroupFile" data-browse="Buscar">Archivo</label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
                    <button type="submit" class="btn btn-primary">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        bsCustomFileInput.init()
    })
</script>