<div class="container bg-light">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link bi bi-house-fill" aria-current="page" href="/"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/grupo/inicio/:id">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/grupo/alumnos/:id">Alumnos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/grupo/temas/:id">Temas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/grupo/actividades/:id">Actividades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/grupo/calificaciones/:id">Calificaciones</a>
            </li>
        </ul>
    </div>
    <div class="row">


    </div>
</div>